.search-bar-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.search-bar-form{
    display: flex;
    width: 100%
}
.search-bar-input{
    width: 100%;
    height: 50px;
    flex: 2;
    font: 22px "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.search-bar-submit{
    flex:1;
    padding:15px;
    text-align:center;
    text-decoration:none;
    color: #ecf0f1;
    background: #222222;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 95px;
    border: none;
}